
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.add {
	list-style: none;
	padding-bottom:10px;
}

.lista-propiedades .row {
	
	border-bottom: 1px solid #e5e5e5;
	margin-bottom:10px;
}
.lista-propiedades ul{
	margin-left:0;
padding-left:0;
	
}

.multiple .last {
	
	border-bottom: 1px solid #18bc9c;
	margin-bottom:20px;
}


#accordion
.accordion-menu{
	margin-top:0;
	
}

dl.accordion-menu {
  margin-bottom: 21px;
  margin-top:0;
}

dl.accordion-menu dt.a-m-t {
margin-bottom: 3px;

width:100%;
color: #18bc9c;
}

dl.accordion-menu dt.a-m-t-hover{

}


dl.accordion-menu dt.a-m-t-down{

	
}





html.accordion-menu-js dt.a-m-t{
	cursor:pointer;
	zoom:1;
}

dl.accordion-menu dd.a-m-d {
	margin: 0;
	padding: 0;
	padding:0;
}

html.accordion-menu-js dd.a-m-d{
	display:none;
}


html.accordion-menu-js dd.a-m-d-expand {
	display:block;
}

html.accordion-menu-js dd.a-m-d-before-expand {
	display:block;
	position:relative;
	z-index:-1;
	opacity:0;
	height:auto !important;
	visibility:hidden;
	overflow:visible;
}


html.accordion-menu-js dt.a-m-t-expand {

	
	
}

html.accordion-menu-js dd.a-m-d-anim {
	overflow:hidden;
	display:block;	
}

dl.accordion-menu dd.a-m-d .bd{
	padding:0.5em;

}

.disabled{
	color:#555;
	
}

.panel li {
	list-style: none;
	
}

.panel ul ul{
	padding-left:20px;
	
}


.foto img {
	
	margin-bottom:15px;
}

@media only screen and (max-width:768px) {
.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #ddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}}

.selectChico select{
	width:auto;
	display:inline;
}